* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  direction: rtl;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

[dir="rtl"] .MuiFormLabel-root {
  left: auto;
  right: auto;
  transform-origin: top right;
  text-align: right;
  margin-right: 25px;
}

[dir="rtl"] .MuiOutlinedInput-notchedOutline {
  text-align: right;
}
